@using WeatherApplication.Shared.Dtos.Weather;
<table width="100%">
    <thead>
        <tr>
            <th width="12%"></th>
            <th width="14%">@GetDayOfWeek(0)</th>
            <th width="14%">@GetDayOfWeek(1)</th>
            <th width="14%">@GetDayOfWeek(2)</th>
            <th width="14%">@GetDayOfWeek(3)</th>
            <th width="14%">@GetDayOfWeek(4)</th>
            <th width="14%">@GetDayOfWeek(5)</th>
            <th width="14%">@GetDayOfWeek(6)</th>
        </tr>
    </thead>
    <tbody>
        @if (Data != null)
        {
            @for (int i = 0; i < 4 && i < Data.Length ; i++)
            {
                <tr>
                    <td>@GetPrefix(i)</td>
                    @for (int j = 0; j < 7; j++)
                    {
                        <td width="14%">@Data[j][(WeatherData.DataType)i]</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public WeatherData[]? Data { get; set; }
    private string GetPrefix(int prefNum) => ((WeatherData.DataType)prefNum).ToString();
    private string GetDayOfWeek(int fromToday)
    {
        return DateTime.Now.AddDays(fromToday).DayOfWeek.ToString().Substring(0,2);
    }
}
